[submodule "sheets-wiki-data"]
	path = content
	url = https://github.com/Astral1119/sheets-wiki-data
  branch = main
[submodule "content"]
	path = content
	url = https://github.com/Astral1119/sheets-wiki-data
	branch = main
[submodule "quartz/static/gse-syntax"]
	path = quartz/static/gse-syntax
	url = https://github.com/Astral1119/gse-syntax
